.topbar{
    display:flex;
    justify-content:space-between;
    align-items:center;

    background:rgba(255,255,255,.08);
    backdrop-filter:blur(16px);

    border:1px solid rgba(255,255,255,.12);

    padding:22px 30px;

    border-radius:18px;

    margin-bottom:30px;

    box-shadow:0 8px 30px rgba(0,0,0,.25);
}

.top-left h2{
    color:white;
    font-size:28px;
    margin-bottom:5px;
}

.top-left p{
    color:#9ca3af;
    font-size:17px;
}

.top-right{
    display:flex;
    align-items:center;
    gap:20px;
}

.icon-btn{
    width:48px;
    height:48px;

    border:none;

    border-radius:50%;

    background:linear-gradient(135deg,#7C3AED,#EC4899);

    color:white;

    cursor:pointer;

    font-size:18px;

    transition:.3s;
}

.icon-btn:hover{
    transform:translateY(-4px);
}

.profile{
    display:flex;
    align-items:center;
    gap:10px;

    color:white;

    font-size:17px;
}

.profile-icon{
    font-size:42px;
    color:#EC4899;
}