*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

.home{

    min-height:100vh;

    background-image:url("../../assets/im.jpg");

    background-size:cover;

    background-position:center;

    background-repeat:no-repeat;

    background-attachment:fixed;
}

/* Hero */

.hero{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:80px;

    min-height:90vh;

    background:rgba(0,0,0,0.55);

}

.hero-left{

    width:50%;

}

.hero-left h1{

    font-size:60px;

    color:white;

    line-height:1.2;

}

.hero-left p{

    font-size:22px;

    color:#f1f1f1;

    margin:25px 0;

}

.start-btn{

    padding:15px 35px;

    background:#2563EB;

    color:white;

    border:none;

    border-radius:10px;

    font-size:20px;

    cursor:pointer;

}

.start-btn:hover{

    background:#1D4ED8;

}

.hero-right img{

    width:450px;

}

/* Features */

.features{

    padding:80px;

    background:white;

}

.features h2{

    text-align:center;

    font-size:40px;

    color:#1E3A8A;

    margin-bottom:50px;

}

.feature-container{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:25px;

}

.feature-card{

    background:#ffffff;

    padding:30px;

    border-radius:15px;

    text-align:center;

    box-shadow:0 5px 15px rgba(0,0,0,0.1);

    transition:0.3s;

}

.feature-card:hover{

    transform:translateY(-10px);

}

.feature-card h3{

    color:#1E3A8A;

    margin-bottom:15px;

}

.feature-card p{

    color:#666;

}

/* Footer */

.footer{

    background:#1E3A8A;

    color:white;

    text-align:center;

    padding:20px;

}