*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body,
#root{
    width:100%;
    min-height:100%;
    overflow-x:hidden;
    font-family:Arial, Helvetica, sans-serif;
    background:#050816;
}

body{
    overflow-x:hidden;
}

a{
    text-decoration:none;
}

button{
    cursor:pointer;
}

img{
    max-width:100%;
    display:block;
}